.group-title {
  text-align: center;
}

.group-background-card {
  width:100%;
  margin: 20px;
  padding: 20px 30px;
  background:white;
  h2{
    margin:0;
    text-align: center;
    font-size: 25px;
  }
}

.group-recipes {
  background-color: transparent !important;
  h2 {
    margin-bottom: 15px;
  }
}

.group-schedule {
  height: 450px;
  width: 900px;
  margin-top: 50px;
  background-color: #8ad8e1;
  color: white;
}

.banner-group {
  height: 325px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items:center;
  justify-content:space-around;
  color:white;
}

.flex-column {
  display:flex;
  align-items:center;
  flex-direction: column;
}

.carousel-inner {
  height:300px;
  width: 500px;
}

.carousel {
    width: 500px;
}

.group-show-container {
  margin: 50px 1px;
}

.card-group {
  height: 200px;
  width: 400px;
  background-size: cover;
  background-position: center;
  margin: 20px;
}


