.group-title {
  text-align: center;
}

.group-background-card {
  width:100%;
  margin: 20px;
  padding: 20px 30px;
  background:white;
  h2{
    margin:0;
    text-align: center;
    font-size: 25px;
  }
}


.card-group-show {
  i {
    color: grey;
    text-decoration: none;
    z-index: 3;
    &:hover {
      text-decoration: none;
    }
  }
}
.group-schedule {
  height: 750px;
  width: 900px;
  padding: 25px;
  background-color: #8ad8e1;
  color: white;
}

.banner-group {
  height: 325px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items:center;
  justify-content:space-around;
  color:white;
}

.flex-column {
  display:flex;
  align-items:center;
  flex-direction: column;
}

.carousel-inner {
  height:300px;
  width: 500px;
}

.carousel {
    width: 500px;
}

.group-show-container {
  margin: 50px 1px;
}

.card-group {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-group-show {
  background: white;
}


.card-group-container {
  color: grey;
  margin-top: 50px;
}
