// INDEX

.full-recipe-container {
  background-repeat: no-repeat;
  background-size: cover;
}

.title-recipe {
  margin: 0px;
  padding: 30px;
  color: white;
}

// SHOW


.container-recipe {
  border-radius: 3px;
  overflow: hidden;
  color: $black;
  width: 670px;
  margin: 0px auto;
  box-shadow: 1px 2px 3px rgb(190, 190, 190);
  min-height: 700px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-body {
  padding: 10px;
}

.banner-image-recipe {
  height: 380px;
  width: 670px;
  background-size:cover;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 18px;
    margin-top: 0;
  }
  h1 {
    font-size: 30px;
    margin-top: 30px;
  }
  i {
    padding-left: 5px;
  }
}

.recipe-description {
  h1 {
    font-size: 30px;
  }
    h2 {
  font-size: 16px;
  }
}

.full-screen-container {
  background: #DAD299;  /* fallback for old browsers */
  background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 100px;
  padding-bottom: 100px;
}


