// INDEX

.full-recipe-container {
  background-repeat: no-repeat;
  background-size: cover;
}

.title-recipe {
  margin: 0px;
  padding: 30px;
  color: white;
}

// SHOW


.container-recipe {
  border-radius: 3px;
  overflow: hidden;
  color: $black;
  width: 670px;
  margin: 0px auto;
  box-shadow: 1px 2px 3px rgb(190, 190, 190);
  min-height: 700px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-body {
  padding: 10px 28px 30px 28px;
}

.banner-image-recipe {
  height: 380px;
  width: 670px;
  background-size:cover;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 18px;
    margin-top: 0;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
  }
  i {
    padding-right: 8px;
  }
}

.recipe-description {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
    line-height: 25px;
  }
  p {
    line-height: 34px;
    font-size: 20px;
  }
}

.full-screen-container {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}



