<div class="banner">
  <div class="banner-content">
    <h1>LUNCHOUNOU</h1>
    <p>Make food for your collegues</p>
    <%= link_to 'DISCOVER RECIPES', recipes_path, class: "discover-btn" %>
  </div>
</div>
